body {
    background-color: #FFFFFF;
    max-width: 200;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    max-width: 600px;
    color: #221E13;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: left;
}

.editor {
    display: inline;
    margin: 10px;

}

button {
    width: 80px;
}

select {
    width: 200px;
}

textarea {
    background-color: whitesmoke;
    font-family: inherit;
    font-size: 18px;
    width: 600px;
    min-width: 600px;
    max-width: 600px;

}

#titleTextArea, #monthTextArea, #dayTextArea {
    font-size: 20px;
    height: 20px;
    min-height: 20px;
    max-height: 20px;
}

#entryTextArea {
    font-size: 20px;
    height: 400px;
    min-height: 400px;
    max-height: 400px;


}