body {
    background-color: #EEEEEE;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    max-width: 600px;
    color: #221E13;
    margin-left: auto;
    margin-right: auto;
}

h1 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

p {
    text-align: left;
    line-height: 25px;
}

a {
    color: black;
    text-decoration-line: none;
}

img {
    margin-top: 20px;
    margin-bottom: 20px;
}

#mainImage {
    position: fixed;
    top: 0px;
    left: 0px;
}

.navigation {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  display: inline;
  margin: 30px;
}

.textButton {
    color: inherit;
    font-family: inherit;
    font-size: 16px;
    text-decoration: none;
    border: none;
    background: none;
}

.textButton:hover {
    color: #342f23;
    cursor: pointer;
}

/* Music Page */ 
.albumCoverArt {
    margin-right: 20px;
    float: left;
}

.albumTitle {
    text-align: left;
}



/* Events Page */ 

.event {
    float: left;
}

#dateDisplay {
    width: 70px;
    margin: 0px;
    float: left;
}

#monthDisplay {
    text-align: center;
    line-height: normal;

}

#dayDisplay {
    font-size: 30px;
    line-height: 0px;
    text-align: center;
}

#title {
    text-align: left;
}
